@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.product-wrapper {
  margin: 5% 10%; }

.item-price {
  color: #4292e3;
  margin: 2px; }

.item-title {
  margin: 2px;
  color: #4B4F59; }

.details-img {
  width: 40%;
  margin-left: 5em;
  border: 1px solid #f2f2f6; }

.item-details {
  float: right;
  padding: 0 90px 0 0; }

.name-and-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0 30px 0; }

.item-information {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #4B4F59; }

.item-color,
.item-size {
  margin: 2px 0;
  word-wrap: wrap; }

.cart-btn-container {
  margin: 15px 0; }

.add-to-cart {
  align-self: flex-end;
  position: relative;
  background-color: #4292e3;
  border: none;
  border-radius: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

.add-to-cart:after {
  content: "";
  background: #F5F5F5;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.add-to-cart:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

.view-cart {
  margin: 0 0 0 12px;
  border-radius: 12px;
  background-color: #4292e3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer; }

.view-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.view-cart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.view-cart:hover span {
  padding-right: 25px; }

.view-cart:hover span:after {
  opacity: 1;
  right: 0; }

.lead-features {
  text-align: center;
  font-size: 26px; }

.product-specs {
  margin-top: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px; }

@media (max-width: 600px) {
  .name-and-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 0 0; }
  .item-title,
  .item-price {
    font-size: 22px; }
  .item-information h2 {
    margin: 5px 8px; }
  .item-details {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 0; }
  .product-wrapper {
    margin: 5% 10%;
    height: 100vh; }
  .details-img {
    width: 80%;
    margin: auto;
    display: block; }
  .cart-btn-container {
    width: 100%; }
  .add-to-cart,
  .view-cart {
    width: 100%;
    margin: 2%; }
  .add-to-cart {
    margin-top: 20px; }
  .product-specs {
    display: none; } }
