.product-wrapper {
  margin: 0 10%; }

.details-img {
  width: 60%; }

.add-to-cart {
  position: relative;
  background-color: #4292e3;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

.add-to-cart:after {
  content: "";
  background: #F5F5F5;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.add-to-cart:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

.view-cart {
  border-radius: 4px;
  background-color: #4292e3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

.view-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.view-cart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.view-cart:hover span {
  padding-right: 25px; }

.view-cart:hover span:after {
  opacity: 1;
  right: 0; }
