@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.product-wrapper {
  margin: 5% 10%;
  margin-bottom: 2em;
  margin-top: 2em; }

.item-price {
  color: #4292e3; }

.details-img {
  width: 50%;
  margin-left: 5em; }

.item-details {
  display: flex;
  flex-direction: column; }

.name-and-price-container,
.item-title,
.item-price {
  align-self: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin: 5px 0; }

.item-information {
  align-self: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 5px 0;
  color: #4B4F59; }

.item-color,
.item-size {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4B4F59; }

.add-to-cart {
  align-self: flex-end;
  position: relative;
  background-color: #4292e3;
  border: none;
  border-radius: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

.add-to-cart:after {
  content: "";
  background: #F5F5F5;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.add-to-cart:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

.view-cart {
  align-self: flex-end;
  border-radius: 12px;
  background-color: #4292e3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

.view-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.view-cart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.view-cart:hover span {
  padding-right: 25px; }

.view-cart:hover span:after {
  opacity: 1;
  right: 0; }

@media (max-width: 900px) {
  .name-and-price-container {
    display: flex;
    align-items: center; }
  .item-details {
    display: flex;
    flex-direction: column; }
  .product-wrapper {
    margin: 5% 10%;
    height: 100vh; }
  .details-img {
    width: 70%;
    margin: auto;
    display: block; }
  .add-to-cart,
  .view-cart {
    width: 100%;
    margin: 2%; }
  .add-to-cart {
    margin-top: 20px; } }
