@import "_theme";

.product-wrapper {
  margin: $contain;
  margin-bottom: 2em;
  margin-top: 2em;
}

.item-price {
  color: $tertiary-color;
}

.details-img {
    width: 50%;
    margin-left: 5em;
}

.item-details {
  float: right;
  padding: 20px 0;
}

.name-and-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-information {
  font-family: serif;
}

.item-title, 
.item-color, 
.item-size,
.item-price {
  margin: 2px 0px;
  font-size: 16px;
  font-family: monospace;
}

.add-to-cart {
    position: relative;
    background-color: $tertiary-color;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.add-to-cart:after {
    content: "";
    background: #F5F5F5;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.add-to-cart:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.view-cart {
    border-radius: 12px;
    background-color: $tertiary-color;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .view-cart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .view-cart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .view-cart:hover span {
    padding-right: 25px;
  }
  
  .view-cart:hover span:after {
    opacity: 1;
    right: 0;
  }

  @media(max-width: 1024px) {
    .item-details {
      padding: 14%;
      width: 70%;
    }

    .item-price {
      padding-left: 30px;
    }

    .product-wrapper {
      margin: $contain;
      height: 100vh;
    }

    .details-img {
      width: 70%;
      margin: auto;
      display: block;
    }

    .add-to-cart,
    .view-cart {
      width: 100%;
      margin: 2%;
    }
  }