.product-wrapper {
  margin: 5% 10%;
  margin-bottom: 2em;
  margin-top: 2em; }

.item-price {
  color: #4292e3; }

.details-img {
  width: 50%;
  margin-left: 5em; }

.item-details {
  float: right;
  padding: 20px 0; }

.name-and-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.item-information {
  font-family: serif; }

.item-title,
.item-color,
.item-size,
.item-price {
  margin: 2px 0px;
  font-size: 16px;
  font-family: monospace; }

.add-to-cart {
  position: relative;
  background-color: #4292e3;
  border: none;
  border-radius: 12px;
  font-size: 28px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }

.add-to-cart:after {
  content: "";
  background: #F5F5F5;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; }

.add-to-cart:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

.view-cart {
  border-radius: 12px;
  background-color: #4292e3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

.view-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.view-cart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.view-cart:hover span {
  padding-right: 25px; }

.view-cart:hover span:after {
  opacity: 1;
  right: 0; }
