.products-feed-wrapper {
  margin: 0 10%; }

.feed {
  text-align: center; }

.list-of-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.product-container {
  background-color: cornflowerblue;
  margin: 10px auto; }

.product-img {
  width: 30%; }

.product-name {
  margin: auto; }
