@import "_theme";

.products-feed-wrapper {
    margin: $contain;
}

.feed {
    text-align: center;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 40px;
    color: $text-color;
}

.list-of-products {
    display: flex;
    flex-wrap: wrap;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
    color: $text-color;
}

.product-container {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    border: 10px solid #fff;
    border-bottom: none;
    text-decoration: none;
}

.product-info {
    margin-top: auto;
}

.product-img {
    max-width: 100%;
    border: 1px solid $secondary-color;    
}

#product-name {
    margin: 0;
    color: $text-color;
}

#product-price {
    margin: 5px 0px;
    color: $text-color;
}

@media(max-width: 920px) {
    .list-of-products {
        flex: 1 21%;
    }
}

@media(max-width: 600px) {
    .product-container {
        flex: 1 30%;
    }
}