@import "_theme";

.products-feed-wrapper {
    margin: $contain;
}

.feed {
    text-align: center;
}

.list-of-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // margin: 0% 1% 0% 1%;
}

.product-container {
    background-color: cornflowerblue;
    margin: 10px auto;
}

.product-img {
    width: 30%;
}

.product-name {
    margin: auto;
}