@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.products-feed-wrapper {
  margin: 5% 10%; }

.feed {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #4B4F59; }

.list-of-products {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4B4F59; }

.product-container {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  border: 10px solid #fff;
  border-bottom: none;
  text-decoration: none; }

.product-info {
  margin-top: auto; }

.product-img {
  max-width: 100%;
  border: 1px solid #f2f2f6; }

#product-name {
  margin: 0;
  color: #4B4F59; }

#product-price {
  margin: 5px 0px;
  color: #4B4F59; }

@media (max-width: 920px) {
  .list-of-products {
    flex: 1 21%; }
  .products-feed-wrapper {
    margin: 5% 0; } }

@media (max-width: 600px) {
  .product-container {
    flex: 1 30%; } }
