.products-feed-wrapper {
  margin: 5% 10%; }

.feed {
  text-align: center; }

.list-of-products {
  display: flex;
  align-items: center; }

.product-container {
  background-color: cornflowerblue;
  margin: 10px 10px;
  text-decoration: none; }

.product-img {
  width: 100%; }

#product-name {
  margin: 0;
  color: #303238; }

#product-price {
  margin: 5px 0px;
  color: #303238; }
