.products-feed-wrapper {
  margin: 0 20%; }

.feed {
  text-align: center; }

.list-of-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0% 5% 0% 5%; }

.product-container {
  background-color: cornflowerblue;
  margin: 0 auto;
  display: block; }

.product-img {
  height: 190px;
  width: 190px; }

.product-name {
  margin: auto; }
