@import "_theme";

.products-feed-wrapper {
    margin: $contain;
}

.feed {
    text-align: center;
}

.list-of-products {
    display: flex;
    align-items: center;
    // margin: 0% 1% 0% 1%;
}

.product-container {
    background-color: cornflowerblue;
    margin: 10px 10px;
    text-decoration: none;
}

.product-img {
    width: 100%;
}

#product-name {
    margin: 0;
    color: $text-color;
}

#product-price {
    margin: 5px 0px;
    color: $text-color;
}