@import "_theme";

.cart-wrapper {
    margin: $contain;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0 10em;
}

.lead-cart {
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 20px;
    color: $text-color;
    padding: 15px 0;
}

.details-img-cart {
    width: 50%;
    margin: 2em 0;
}

.item-details-cart  {
    display: flex;
    padding: 20px 50px 20px 2px;
    border-bottom: 2.5px solid $secondary-color;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
}



// .item-title-cart,
// .item-size-cart,
// .item-color-cart {
//    margin: 0 5px;
//    color: $text-color; 
// }

.delete-icon {
    padding: 8px;
    color: $icon-color;
}

// .item-price-cart {
//     color: $tertiary-color;
//     font-weight: 300;
//     margin: 0 5px;
//     padding-left: 70%;
// }

.checkout-btn-container {
    text-align: center;
}

.go-to-checkout {
    border-radius: 12px;
    background-color: $tertiary-color;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10%;
  }
  
  .go-to-checkout span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .go-to-checkout span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .go-to-checkout:hover span {
    padding-right: 25px;
  }
  
  .go-to-checkout:hover span:after {
    opacity: 1;
    right: 0;
  }

@media(max-width: 641px) {
    .sad-cart {
        align-items: center;
        width: 75%;
    }

   
}

@media(max-width: 1024px) {
    .cart-wrapper {
        padding: 0;
    }

    .details-img-cart {
        width: 75%;
        margin: 20px auto;
    }

    .item-details-cart  {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        // display: flex;
        // padding: 20px 50px 20px 2px;
        // border-bottom: 2.5px solid $secondary-color;
    }

    .item-details-cart-h2 {
        margin: 0;
    }

    .item-size-cart,
    .item-color-cart {
       color: $text-color;
       margin: 0; 
    }

    .item-price-cart {
        color: $tertiary-color;
        margin-top: 5px;
    }

    .delete-icon {
        padding: 0px;
    }
}

@media(max-width: 1024px) {
    .go-to-checkout {
        width: 70%;
    }
}