@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.cart-wrapper {
  margin: 5% 10%;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0 10em; }

.lead-cart {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4B4F59;
  padding: 15px 0; }

.details-img-cart {
  width: 50%;
  margin: 2em 0;
  border: 1px solid #f2f2f6; }

.item-details-cart {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding: 20px 50px 20px 2px;
  border-bottom: 2.5px solid #f2f2f6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #4B4F59; }

.item-title-cart,
.item-size-cart,
.item-color-cart {
  margin: 0 5px;
  color: #4B4F59; }

.delete-icon {
  padding: 8px;
  color: #E43D3D;
  cursor: pointer; }

.item-price-cart {
  color: #4292e3;
  font-weight: 300;
  font-size: 20px;
  margin: 5px 0; }

.checkout-btn-container {
  text-align: center; }

.go-to-checkout {
  border-radius: 12px;
  background-color: #4292e3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10%; }

.go-to-checkout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.go-to-checkout span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.go-to-checkout:hover span {
  padding-right: 25px; }

.go-to-checkout:hover span:after {
  opacity: 1;
  right: 0; }

@media (max-width: 641px) {
  .sad-cart {
    align-items: center;
    width: 75%; } }

@media (max-width: 1024px) {
  .cart-wrapper {
    padding: 0; }
  .details-img-cart {
    width: 75%;
    margin: 20px auto; }
  .item-details-cart {
    display: flex;
    justify-content: space-between;
    padding: 0px; }
  .item-details-cart-h2 {
    margin: 0; }
  .item-size-cart,
  .item-color-cart {
    color: #4B4F59;
    margin: 0; }
  .item-price-cart {
    color: #4292e3;
    font-size: 16px;
    margin-top: 5px; }
  .delete-icon {
    padding: 0px; } }

@media (max-width: 1024px) {
  .go-to-checkout {
    width: 70%; } }
