@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

$text-color: #4B4F59;
$icon-color: #7B7B7B;
$tertiary-color: #4292e3;    
$secondary-color: #f2f2f6;
$contain: 5% 10%;
$primary-font: 'Lato', sans-serif;   