body {
  color: #303238; }

.landing-conetent {
  width: 80%; }

.header {
  position: relative; }

.hero-banner {
  background-image: url("https://d3spquiph2sexc.cloudfront.net/assets/hero-banner/hero-desktop-96cf31056bec0de967575f53d1f063508cf8889968d79fdf8924b253cb05ece8.jpg");
  background-size: cover;
  background-position: center center; }

.quote-over-banner {
  position: absolute;
  top: 18%;
  left: 32%;
  margin-bottom: 4px; }

.tagline {
  color: #fff;
  position: absolute;
  top: 57%;
  left: 37%;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 48px;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-shadow: none;
  font-weight: 400;
  max-width: 240px;
  margin: 0 auto; }

@media (min-width: 641px) {
  .hero-banner {
    height: 55vh;
    width: 100vw; }
  .quote-over-banner {
    position: absolute;
    top: 24%;
    left: 38%;
    margin-bottom: 4px; } }

@media (max-width: 900px) {
  .hero-banner {
    background-image: url("https://d3spquiph2sexc.cloudfront.net/assets/hero-banner/hero-mobile-59649a8bef8fd514fedd100ed48c520c8fc0a0b31b0d1494c71a69ca3eaa2267.jpg");
    height: 46vh;
    width: 100%; } }
