@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
body {
  color: #4B4F59; }

.landing-conetent {
  width: 80%; }

.header {
  position: relative; }

.hero-banner {
  background-image: url("https://d3spquiph2sexc.cloudfront.net/assets/hero-banner/hero-desktop-96cf31056bec0de967575f53d1f063508cf8889968d79fdf8924b253cb05ece8.jpg");
  background-size: cover;
  background-position: center center; }

.quote-over-banner {
  position: absolute;
  top: 18%;
  left: 32%;
  margin-bottom: 4px; }

.tagline {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 57%;
  left: 17%;
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 15px;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-shadow: none;
  font-weight: 400;
  width: 58%;
  margin: 0px 9px; }

@media (min-width: 641px) {
  .hero-banner {
    height: 55vh;
    width: 100vw; }
  .quote-over-banner {
    position: absolute;
    top: 24%;
    left: 38%;
    margin-bottom: 4px; } }

@media (max-width: 900px) {
  .hero-banner {
    background-image: url("https://d3spquiph2sexc.cloudfront.net/assets/hero-banner/hero-mobile-59649a8bef8fd514fedd100ed48c520c8fc0a0b31b0d1494c71a69ca3eaa2267.jpg");
    height: 46vh;
    width: 100%; } }

@media (min-width: 900px) {
  .tagline {
    position: absolute;
    top: 58%;
    left: 26%; } }
