@import "theme";
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    color: $text-color;
}

.landing-conetent {
    width: 80%;
}

.header {
    position: relative;
}

// .hero-banner {
//    height: 55vh;
//    width: 100%;
//    background-color: rgb(75,123,172);
// }

.intro {
    height: 55vh;
    width: 100%;
    // background-color: rgb(75, 123, 172);
    background-color: #4292e3;
    display: inline-block;
    text-align: center;
    h1 {
        color: #fff;
        font-size: 7em;
        font-family: 'Lobster', cursive;
        margin: 30px 0;
    }
    h2 {
        color: #fff;
        letter-spacing: 0.04em;
        font-family: $primary-font;
        font-weight: 400;    
        text-transform: uppercase;
        font-size: 16px;
    }
}

.quote-over-banner {
    position: absolute;
    top: 18%;
    left: 28%;
    margin-bottom: 4px;
}

.tagline {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 57%;
    left: 17%;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 15px;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    text-shadow: none;
    width: 58%;
    margin: 0px 9px;
}

@media(min-width: 641px) {
    .hero-banner {
        height: 55vh;
        width: 100%;
    } // .quote-over-banner {
    //     position: absolute;
    //     top: 24%;
    //     left: 38%;
    //     margin-bottom: 4px;
    // }
}

@media(max-width: 900px) {
    .hero-banner {
        background-image: url('https://d3spquiph2sexc.cloudfront.net/assets/hero-banner/hero-mobile-59649a8bef8fd514fedd100ed48c520c8fc0a0b31b0d1494c71a69ca3eaa2267.jpg');
        height: 46vh;
        width: 100%;
    }
}

@media(min-width: 900px) {
    .tagline {
        position: absolute;
        top: 58%;
        left: 28%;
        word-break: break-all;
    }
}