.footer  {
    background-color: #303238;
    padding: 1rem;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 3rem 0;
}

.footer-links-links {
    flex: 0 0 auto;
    width: 50%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem 0;
    list-style: none;
    display: inline-block;
}

@media(max-width: 1024px) {
    .footer-links {
        justify-content: space-between;
    }
}