.footer {
  color: #fff;
  background-color: #303238;
  height: 45vh;
  width: 100%;
  text-align: center; }

.footer-links {
  display: flex; }

.footer-links-links {
  text-transform: uppercase;
  font-size: 1rem;
  list-style: none;
  color: red; }

@media (max-width: 641px) {
  .footer-links {
    display: flex;
    flex-wrap: wrap; } }
