@import "theme";


.nav-wrapper {
    margin-bottom: 15px;
    p {
        font-size: 0.7rem;
        color: $text-color;
        text-align: center;
        word-wrap: break-word;
    }
}

.brand-mark {
    width: 200px;
}
.main-nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid $secondary-color;
}
.login-and-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    margin-right: 10px;
}

.nav-login,
.nav-logout {
    display: inline-block;
    color: $text-color;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 300;
}

.cart-icon {
    color: $icon-color;        
}

.search-form {
    position: relative;
}

#search-icon {
    float: left;
    // position: absolute;
    // z-index: 1;
    // top: 28%;
    // left: 4%;
    // color: $icon-color;
    // cursor: pointer;
    // width: 0;
}
.mobile-search-input {
    width: 100%;
    padding: 14px 8px 14px 48px;
    font-size: 12px;
    color: #4b4f59;
    font-style: italic;
    border: none;
    border-radius: 22px;
    background-color: #f2f2f6;
    font-weight: 400;
    line-height: 16px;
}

.search-form {
    margin: 15px 30px 15px 30px;
}

@media(max-width: 1600px) {

    .login-and-cart-container {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    #search-icon {
        position: absolute;
        z-index: 1;
        top: 28%;
        left: 1.5%;
        color: $icon-color;
        cursor: pointer;
        width: 0;
    }
}

@media(min-width: 1024px) {

    .search-form {
        margin: 15px 200px 15px 200px;
    }

    .login-and-cart-container {
        display: flex;
        justify-content: space-around;
        width: 12%;
    }

}