.brand-mark {
  width: 200px; }

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.login-and-cart-container {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-right: 10px; }

.cart-icon {
  color: #7B7B7B; }

.search-form {
  position: relative; }

#search-icon {
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 4%;
  color: #7B7B7B;
  cursor: pointer;
  width: 0; }

.mobile-search-input {
  width: 100%;
  padding: 14px 8px 14px 48px;
  font-size: 14px;
  color: #4b4f59;
  font-style: italic;
  border: none;
  border-radius: 22px;
  background-color: #f2f2f6;
  font-weight: 400;
  line-height: 16px; }

.search-form {
  margin: 0px 30px 15px 30px; }

@media (max-width: 1024px) {
  .login-and-cart-container {
    display: flex; } }
