@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.nav-wrapper {
  margin-bottom: 15px; }

.brand-mark {
  width: 200px; }

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f6; }

.login-and-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  margin-right: 10px; }

.nav-login,
.nav-logout {
  display: inline-block;
  color: #4B4F59;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.cart-icon {
  color: #7B7B7B; }

.search-form {
  position: relative; }

#search-icon {
  float: left; }

.mobile-search-input {
  width: 100%;
  padding: 14px 8px 14px 48px;
  font-size: 12px;
  color: #4b4f59;
  font-style: italic;
  border: none;
  border-radius: 22px;
  background-color: #f2f2f6;
  font-weight: 400;
  line-height: 16px; }

.search-form {
  margin: 15px 30px 15px 30px; }

@media (max-width: 1600px) {
  .login-and-cart-container {
    display: flex;
    justify-content: space-around;
    width: 30%; }
  #search-icon {
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 1.5%;
    color: #7B7B7B;
    cursor: pointer;
    width: 0; } }

@media (min-width: 1024px) {
  .search-form {
    margin: 15px 200px 15px 200px; }
  .login-and-cart-container {
    display: flex;
    justify-content: space-around;
    width: 12%; } }
